body {
  margin: 0%;
  padding: 0%;
}

.wrapper_dicas {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper_dicas > h1 {
  font-family: "Montserrat-Bold";
  color: #214b04;
  font-size: 35px;
}

.wrapper_dicas > .container {
  display: inherit;
  height: 60vh;
  justify-content: space-around;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-family: "Montserrat-Bold";
}

.wrapper_dicas > .container > .button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  height: 20vh;
  border-radius: 20px;
  background-color: #cee9ba;
  box-shadow: 2px 4px 4px #225300;
}

.wrapper_dicas > .container > .button > a {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  color: #214b04;
  font-size: 22px;
  z-index: 2;
}

.wrapper_dicas > .container > .button > img {
  position: relative;
  height: 100%;
  z-index: 1;
}

.container > .link_button {
  font-size: 18;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 8px 50px 8px 50px;
  background-color: #225300;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.option_container {
  font-family: "Montserrat-Bold";
  font-size: 18px;
  text-decoration: none;
  color: #225300;
  justify-content: space-evenly !important;
}

.option {
  display: block;
  width: 75%;
  height: 20%;
  border-radius: 10px;
  display: flex;
  align-items: end;
  justify-content: start;
}

.app {
  background-image: url("../assets/app.png");
  background-size: cover;
}

.bugs {
  background-image: url("../assets/bugs.png");
  background-size: cover;
}

.especies {
  background-image: url("../assets/especies.png");
  background-size: cover;
}

.dicas {
  background-image: url("../assets/dicas.png");
  background-size: cover;
}

.dicas_cadastrar {
  background-repeat: no-repeat;
}

.dicas_manipular {
  background-repeat: no-repeat;
}

.option > a {
  padding-left: 8px;
  font-family: "Montserrat-Bold";
  font-size: 32px;
  text-decoration: none;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  height: 160px;
  width: 85%;
}

header button {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #cee9ba;
  font-size: 24px;
  font-weight: 600;
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60%;
  width: 62% !important;
}

.section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
  margin-bottom: 10px;
}

.main > div > strong {
  font-size: 22px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  flex: 1;
  justify-content: center;
}

.form input {
  border-radius: 10px;
  border: solid 2px #225300;
  width: 100% !important;
  padding: 5px 10px;
  height: 38px;
  font-size: 16px;
}

#button {
  height: 38px;
  border-radius: 10px;
  background-color: #225300;
  color: white;
}

.sigin__options {
  height: 70px;
  row-gap: 8px !important;
  text-align: center;
}

.sigin__options strong {
  text-decoration: underline;
  font-size: 18px !important;
}

footer {
  margin: 0%;
  height: 130px;
  width: 100%;
  position: absolute;
  bottom: -3rem;
}

footer img {
  height: 130px;
  width: 100%;
}

.enviados_card {
  height: 65px;
  width: 310px;
  border: #225300 solid 2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 2px 0px;
  position: relative;
  top: -23rem;
  row-gap: 20px;
  font-family: "Montserrat-Regular";
  font-size: 13px;
  margin-bottom: 2rem;
}
.enviados_detalhes_card {
  height: 200px;
  width: 310px;
  border: #225300 solid 2px;
  border-radius: 8px;
  display: flex;

  padding: 2px 0px;
  position: relative;
  top: -23rem;
  row-gap: 20px;
  font-family: "Montserrat-Regular";
  font-size: 13px;
  margin-bottom: 2rem;
}

.app__logo {
  margin-top: -14rem;
}

.app__naolido {
  margin-left: -14rem;
  position: relative;
  top: -25rem;
}

.ti1 {
  color: #225300;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-top: 7px;
  margin-bottom: 1.5rem;
}

.ti2 {
  margin-left: 0.5rem;
  margin-top: -36px;
  margin-bottom: 1.5rem;
}

.container-body {
  /* background-color: red; */
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4%;
}
.title-page {
  display: flex;
  justify-content: center;
  color: #225300;
  font-family: "Montserrat-Regular";
  font-weight: bold;
  & > p {
    margin: 0;
    font-size: 1.75rem;
    font-family: "Montserrat-Bold";
  }
}
.container-descricao {
  border: 2px solid #225300;
  border-radius: 7px; /*mudar*/
  padding: 1% 3%;
  height: 200px;
  font-family: "Montserrat-Regular";
  .descricao {
    color: #000;
    font-family: "Montserrat-Regular";
  }
}
.btn-resolvido {
  width: 85%;
  font-size: 1.125rem;
  font-family: "Montserrat-Regular";
  background-color: #225300;
  color: #fff;
  /* font-weight: 700; */
  border: none;
  height: 35px;
  border-radius: 10px;
}
