.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 10px 7%;
  background-color: #8dc069;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

header strong {
  margin-left: -10%;
  font-size: 20px;
  color: white;
}

header button {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 85% !important;
  margin-top: -20px;
  row-gap: 25px;
}

.accordions {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  width: 100%;
}

.accordions details {
  display: flex;
  align-items: center;
  border: solid 1px #225300;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
}

.main button {
  height: 45px;
  width: 160px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding: 14px 0px;
}

.button__edit {
  background-color: #73b147;
  color: white;
}

.button__logout {
  margin-top: 20px;
  background-color: #cf5656;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 10px;
}

.main > div > strong {
  font-size: 22px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  flex: 1;
  justify-content: center;
}

.form input,
select {
  border-radius: 10px;
  border: solid 2px #225300;
  width: 100% !important;
  padding: 5px 10px;
  height: 39px;
  font-size: 16px;
}

.form label {
  font-weight: 500;
  margin-top: 10px;
}

.form button {
  height: 40px;
  border-radius: 10px;
  background-color: #225300;
  color: white;
}

footer {
  height: 130px;
  width: 100%;
}

footer img {
  height: 130px;
  width: 100%;
}
